<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
    <resultMap id="BaseTaskResultMap" type="com.kangaroo.backup.Domain.Task">
        <id column="taskId" property="taskId" jdbcType="INT"/>
        <result column="taskTitle" property="taskTitle" jdbcType="VARCHAR"/>
        <result column="deadLineDate" property="deadLineDate" jdbcType="DATETIME"/>
        <result column="taskContent" property="taskContent" jdbcType="TEXT"/>
        <result column="price" property="price" jdbcType="INT"/>
        <result column="publisherId" property="publisherId" jdbcType="INT"/>
        <result column="receiversId" property="receiversId" jdbcType="VARCHAR"/>
        <result column="publishDate" property="publishDate" jdbcType="DATE"/>
        <result column="taskType" property="taskType" jdbcType="VARCHAR"/>
        <result column="completeDate" property="completeDate" jdbcType="DATE"/>
        <result column="state" property="state" jdbcType="INT"/>
    </resultMap>

    <sql id="Base_column_list">
        taskId, taskTitle, deadLineDate, taskContent, price, publisherId, receiversId, publishDate, taskType,
        completeDate, state
    </sql>

    <select id="getTaskList" resultMap="BaseTaskResultMap">
        SELECT
        <include refid="Base_column_list"/>
        FROM task
    </select>

    <select id="getTaskListByTitle" parameterType="String" resultMap="BaseTaskResultMap">
        SELECT
        <include refid="Base_column_list" />
        FROM task WHERE taskTitle = #{taskTitle}
    </select>

    <select id="getTaskListByType" parameterType="String" resultMap="BaseTaskResultMap">
        SELECT
        <include refid="Base_column_list" />
        FROM task WHERE taskType = #{taskType}
    </select>

    <select id="getTaskListByPublisher" parameterType="int" resultMap="BaseTaskResultMap">
        SELECT
        <include refid="Base_column_list" />
        FROM task WHERE publisherId = #{publisherId}
    </select>


    <select id="getTaskListByCompleteDate" parameterType="Date" resultMap="BaseTaskResultMap">
        SELECT
        <include refid="Base_column_list" />
        FROM task WHERE completeDate > #{completeDate} and completeDate = #{completeDate}
    </select>


    <insert id="insertTask" parameterType="com.kangaroo.backup.Domain.Task">
        INSERT INTO
            task (taskId, taskTitle, deadLineDate, taskContent, price, publisherId, receiversId, publishDate, taskType, completeDate, state)
        VALUES (#{taskId}, #{taskTitle}, #{deadLineDate}, #{taskContent}, #{price}, #{publisherId}, #{receiversId}, #{publishDate}, #{taskType}, #{completeDate}, #{state})
    </insert>

    <update id="updateTask" parameterType="com.kangaroo.backup.Domain.Task">
        UPDATE task SET
                         taskTitle = #{taskTitle},
                         deadLineDate = #{deadLineDate},
                         taskContent = #{taskContent},
                         price = #{price},
                         publisherId = #{publisherId},
                         receiversId = #{receiversId},
                         publishDate = #{publishDate},
                         taskType = #{taskType},
                         completeDate = #{completeDate},
                         state = #{state}
        WHERE taskId = #{taskId}
    </update>

    <delete id="deleteTask" parameterType="int">
        DELETE FROM task
        WHERE taskId = #{taskId}
    </delete>
</mapper>