<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangaroo.backup.Dao.TaskMapper">
    
    <resultMap id="TaskResult" type="com.kangaroo.backup.Domain.TaskPO">
        <id column="task_id" property="taskId" jdbcType="INTEGER"/>
        <result column="task_title" property="taskTitle" jdbcType="VARCHAR"/>
        <result column="task_deadLineDate" property="taskDeadLineDate" jdbcType="TIMESTAMP"/>
        <result column="max_ReceiversCount" property="maxReceiversCount" jdbcType="INTEGER"/>
        <result column="task_content" property="taskContent" jdbcType="LONGVARCHAR"/>
        <result column="task_price" property="taskPrice" jdbcType="INTEGER"/>
        <result column="task_publisherId" property="taskPublisherId" jdbcType="INTEGER"/>
        <result column="task_publishDate" property="taskPublishDate" jdbcType="TIMESTAMP"/>
        <result column="task_type" property="taskType" jdbcType="VARCHAR"/>
        <result column="task_completeDate" property="taskCompleteDate" jdbcType="TIMESTAMP"/>
        <result column="task_state" property="taskState" jdbcType="INTEGER"/>
        <result column="current_receiversCount" property="currentReceiversCount" jdbcType="INTEGER"/>
        <result column="current_completeCount" property="currentCompleteCount" jdbcType="INTEGER"/>
        <result column="result" property="result" jdbcType="VARCHAR"/>
        <result column="receivers" property="receivers" jdbcType="VARCHAR"/>
<!--        <collection property="questionnaire" ofType="com.kangaroo.backup.Domain.Question">-->
<!--            <id column="question_id" property="questionId" jdbcType="INTEGER"/>-->
<!--            <result column="task_id" property="taskId" jdbcType="INTEGER"/>-->
<!--            <result column="question_description" property="questionDescription" jdbcType="LONGVARCHAR"/>-->
<!--            <result column="if_multipleSelect" property="ifMultipleSelect" jdbcType="TINYINT"/>-->
<!--            <result column="options_count" property="optionsCount" jdbcType="INTEGER"/>-->
<!--            <result column="options" property="options" jdbcType="VARCHAR"/>-->
<!--        </collection>-->
    </resultMap>
    
    <sql id="Base_column_list">
        task_id, task_title, task_deadLineDate, task_content, task_price, task_publisherId,
        task_publishDate, task_type, task_completeDate, task_state, current_receiversCount,
        current_completeCount, result, receivers
    </sql>
    <select id="getTaskList" resultMap="TaskResult">
        SELECT * FROM kangaroo.task
    </select>
    <select id="getTaskListByTitle" parameterType="String" resultMap="TaskResult">
        SELECT * FROM kangaroo.task WHERE task_title=#{taskTitle}
    </select>
    <select id="getTaskListByType" parameterType="int" resultMap="TaskResult">
        SELECT * FROM kangaroo.task WHERE task_type=#{taskType}
    </select>
    <select id="getTaskListByPublisher" parameterType="int" resultMap="TaskResult">
        SELECT * FROM kangaroo.task WHERE task_publisherId=#{taskPublisherId}
    </select>
    <select id="getTaskListByCompleteDate" parameterType="Date" resultMap="TaskResult">
        SELECT * FROM kangaroo.task WHERE task_completeDate>=#{taskCompleteDate}
    </select>
    <insert id="insert" parameterType="com.kangaroo.backup.Domain.TaskPO">
        INSERT INTO kangaroo.task(task_title, task_deadLineDate, max_receiversCount, task_content, task_price, task_publisherId, task_publishDate, task_type, task_completeDate, task_state,current_receiversCount,current_completeCount, result, receivers)
        VALUES (#{taskTitle},#{taskDeadLineDate},#{maxReceiversCount},#{taskContent},#{taskPrice},#{taskPublisherId},#{taskPublishDate},#{taskType},#{taskCompleteDate},#{taskSate},#{currentReceiversCount},#{currentCompleteCount},#{result},#{receivers})
    </insert>
    <update id="update" parameterType="com.kangaroo.backup.Domain.TaskPO">
        UPDATE kangaroo.task
        <set>
            <if test="taskTitle!=null">task_title=#{taskTitle},</if>
            <if test="taskDeadLineDate!=null">task_deadLineDate=#{taskDeadLineDate},</if>
            <if test="maxReceiversCount!=null">max_receiversCount=#{maxReceiversCount},</if>
            <if test="taskContent!=null">task_content=#{taskContent},</if>
            <if test="taskPrice!=null">task_price=#{taskPrice},</if>
            <if test="taskPublisherId!=null">task_publisherId=#{taskPublisherId},</if>
            <if test="taskPublishDate!=null">task_publishDate=#{taskPublishDate},</if>
            <if test="taskType!=null">task_type=#{taskType},</if>
            <if test="taskCompleteDate!=null">task_completeDate=#{taskCompleteDate},</if>
            <if test="taskSate!=null">task_state=#{taskSate}</if>
            <if test="currentReceiversCount!=null">current_receiversCount=#{currentReceiversCount}</if>
            <if test="currentCompleteCount!=null">current_completeCount=#{currentCompleteCount}</if>
            <if test="result!=null">result=#{result}</if>
            <if test="receivers!=null">receivers=#{receivers}</if>
        </set>
        WHERE task_id=#{taskId}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM kangaroo.task
        WHERE task_id=#{taskId}
    </delete>
    <select id="loadById" parameterType="int" resultMap="TaskResult">
        SELECT * FROM kangaroo.task WHERE task_id=#{taskId}
    </select>
</mapper>