<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangaroo.backup.Dao.TransactionMapper">
    <resultMap id="BaseResultMap" type="com.kangaroo.backup.Domain.Transaction">
        <id column="transaction_id" property="transactionId" jdbcType="INTEGER"/>
        <result column="task_id" property="taskId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="transaction_state" property="transactionState" jdbcType="INTEGER"/>
        <result column="transaction_startTime" property="transactionStartTime" jdbcType="DATE"/>
        <result column="transaction_completeTime" property="transactionCompleteTime" jdbcType="DATE"/>
        <result column="committion" property="committion" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_column_list">
        transaction_id, task_id, user_id, transaction_state, transaction_startTime, transaction_completeTime, committion
    </sql>
    <select id="getAllTransaction" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_column_list"/>
        FROM kangaroo.transaction
    </select>
    <select id="getTransactionById" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_column_list"/>
        FROM kangaroo.transaction WHERE transaction_id=#{transactionId}
    </select>
    <insert id="insertTransaction" parameterType="com.kangaroo.backup.Domain.Transaction">
        INSERT INTO kangaroo.transaction(task_id, user_id, transaction_state, transaction_startTime, transaction_completeTime, committion)
        VALUES (#{taskId},#{userId},#{transactionState},#{transactionStartTime},#{transactionCompleteTime}, #{committion})
    </insert>
    <update id="updateTransaction" parameterType="com.kangaroo.backup.Domain.Transaction">
        UPDATE kangaroo.transaction
        <set>
            <if test="taskId!=null">task_id=#{taskId},</if>
            <if test="userId!=null">user_id=#{userId},</if>
            <if test="transactionState!=null">transaction_state=#{transactionState},</if>
            <if test="transactionStartTime!=null">transaction_startTime=#{transactionStartTime},</if>
            <if test="transactionCompleteTime!=null">transaction_completeTime=#{transactionCompleteTime},</if>
            <if test="committion!=null">committion=#{committion}</if>
        </set>
        WHERE transaction_id=#{transactionId}
    </update>
    <delete id="deleteTransaction" parameterType="int">
        DELETE FROM kangaroo.transaction
        WHERE transaction_id=#{transactionId}
    </delete>
    <select id="getTransactionsByUserId" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM kangaroo.transaction WHERE user_id=#{userId}
    </select>
    <select id="getTransactionsByTaskId" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM kangaroo.transaction WHERE task_id=#{taskId}
    </select>
    <select id="getTransactionsByUserIdAndTaskId" resultMap="BaseResultMap">
        SELECT * FROM kangaroo.transaction WHERE user_id=#{userId} AND task_id=#{taskId}
    </select>
</mapper>