<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangaroo.backup.Dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.kangaroo.backup.Domain.User">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_password" property="userPassword" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="INTEGER"/>
        <result column="user_icon" property="userIcon" jdbcType="VARCHAR"/>
        <result column="user_properties" property="userProperties" jdbcType="INTEGER"/>
        <result column="user_lastIp" property="userLastIp" jdbcType="VARCHAR"/>
        <result column="user_lastDate" property="userLastDate" jdbcType="DATE"/>
    </resultMap>
    <sql id="Base_column_list">
        user_id, user_phone, user_name, user_sex, user_icon, user_properties, user_lastIp, user_lastDate
    </sql>
    <select id="loadAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_column_list"/>
        FROM kangaroo.users
    </select>
    <select id="loadByName" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_column_list"/>
        FROM kangaroo.users WHERE user_name=#{userName}
    </select>
    <select id="loadByPhone" parameterType="String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_column_list"/>
        FROM kangaroo.users WHERE user_phone=#{userPhone}
    </select>
    <insert id="insert" parameterType="com.kangaroo.backup.Domain.User" useGeneratedKeys="true" keyProperty="userId"
            keyColumn="user_id">
        INSERT INTO kangaroo.users(user_phone, user_name, user_password, user_sex, user_icon, user_properties, user_lastIp, user_lastDate)
        VALUES (#{userPhone},#{userName},#{userPassword},#{userSex},#{userIcon},#{userProperties},#{userLastIp},#{userLastDate})
    </insert>
    <update id="update" parameterType="com.kangaroo.backup.Domain.User">
        UPDATE kangaroo.users
        <set>
            <if test="userPhone!=null">user_phone=#{userPhone},</if>
            <if test="userName!=null">user_name=#{userName},</if>
            <if test="userPassword!=null">user_password=#{userPassword},</if>
            <if test="userSex!=null">user_sex=#{userSex},</if>
            <if test="userIcon!=null">user_icon=#{userIcon},</if>
            <if test="userProperties!=null">user_properties=#{userProperties},</if>
            <if test="userLastIp!=null">user_lastIp=#{userLastIp},</if>
            <if test="userLastDate!=null">user_lastDate=#{userLastDate}</if>
        </set>
        WHERE user_id=#{userId}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM kangaroo.users
        WHERE user_id=#{userId}
    </delete>
    <select id="getMatchPhoneAndPasswordCount" resultType="int">
        SELECT COUNT(user_name)
        FROM kangaroo.users WHERE user_phone=#{userPhone} AND user_password=#{userPassword}
    </select>
    <select id="getMatchNameAndPasswordCount" resultType="int">
        SELECT COUNT(user_name)
        FROM kangaroo.users WHERE user_name=#{userName} AND user_password=#{userPassword}
    </select>
    <select id="loadById" resultType="com.kangaroo.backup.Domain.User">
        SELECT
        <include refid="Base_column_list"/>
        FROM kangaroo.users WHERE user_id=#{userId}
    </select>
</mapper>